<p-panelMenu #panel [model]="items">


    <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center px-3 py-2 cursor-pointer" (contextmenu)="showFolderMenu($event, item)">
            <i [class]="(item.icon || 'pi pi-folder') + ' text-primary'"></i>
            <span class="ml-2">
                    {{ item.label }}
                </span>
            <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border
                border-round surface-100 text-xs p-1">
                    {{ item.shortcut }}
                </span>
        </a>
    </ng-template>

</p-panelMenu>

<!-- button to add root folder -->
<button pButton pRipple type="button" i18n-label label="Create Folder" class="w-full"></button>

<p-contextMenu #menu [model]="folderMenu" (onHide)="selectedItem = undefined">
    <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <i *ngIf="item.items" class="pi pi-angle-right ml-auto"></i>
        </a>
    </ng-template>
</p-contextMenu>
