<p-panelMenu #panel [model]="items">


    <ng-template pTemplate="item" let-item>
        <a pRipple
           class="flex align-items-center px-3 py-2 cursor-pointer border-round"
           [class.font-bold]="(!selectedItem && item.id === allFoldersId) || selectedItem?.id === item.id"
           (contextmenu)="item.id !== allFoldersId ? showFolderMenu($event, item) : null">
            <i [class]="(item.icon || 'pi pi-folder') + ' text-primary'"></i>
            <span class="ml-2">
                {{ item.label }}
            </span>
        </a>
    </ng-template>

</p-panelMenu>

<!-- button to add root folder -->
<button (click)="createFolderDialogVisible = true" pButton pRipple type="button" i18n-label label="Create Folder" class="w-full"></button>

<p-contextMenu #menu [model]="folderMenu">
    <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <i *ngIf="item.items" class="pi pi-angle-right ml-auto"></i>
        </a>
    </ng-template>
</p-contextMenu>

<app-explorer-create-dialog [visible]="createFolderDialogVisible"
                            [selectedFolder]="selectedFolder"
                            [organization]="currentOrgSlug"
                            (cancel)="onCancelCreate()" (confirm)="onConfirmCreate()">
</app-explorer-create-dialog>

<app-explorer-edit-dialog [visible]="editFolderDialogVisible"
                          [selectedFolder]="selectedFolder"
                          (cancel)="onCancelEdit()" (confirm)="onConfirmEdit()">
</app-explorer-edit-dialog>
