<p-panelMenu #panel [model]="items" [multiple]="true">


    <ng-template pTemplate="item" let-item>
        <a pRipple (click)="handleFolderClick($event, item)"
           class="fadein animation-duration-500 flex align-items-center px-3 py-2 cursor-pointer border-round"
           [class.font-bold]="(!selectedFolder && !item.id) || selectedFolder?.id === item.id"
           (contextmenu)="showFolderContextualMenu($event, item)">
            <i [class]="(item.icon || (item.id === selectedFolder?.id ? 'pi pi-folder-open' : 'pi pi-folder')) + ' text-primary'"></i>
            <span class="ml-2">
                {{ item.label }}
            </span>
        </a>
    </ng-template>

</p-panelMenu>

<!-- button to add root folder -->
<button (click)="createFolderDialogVisible = true" pButton pRipple type="button" i18n-label label="Create Folder" class="w-full"></button>

<p-contextMenu #menu [model]="folderMenu">
    <ng-template pTemplate="item" let-item>
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <i *ngIf="item.items" class="pi pi-angle-right ml-auto"></i>
        </a>
    </ng-template>
</p-contextMenu>

<app-explorer-create-dialog [visible]="createFolderDialogVisible"
                            [selectedFolder]="selectedFolder"
                            [organization]="currentOrgSlug"
                            (cancel)="onCancelCreate()" (confirm)="onConfirmCreate()">
</app-explorer-create-dialog>

<app-explorer-edit-dialog [visible]="editFolderDialogVisible"
                          [selectedFolder]="selectedFolder"
                          (cancel)="onCancelEdit()" (confirm)="onConfirmEdit()">
</app-explorer-edit-dialog>

<p-confirmDialog i18n-header header="Delete Folder" key="confirm-delete-folder" icon="pi pi-exclamation-triangle"
                 i18n-message message="Are you sure you want to delete folder ? This will delete all subfolders but not folders content."
                 defaultFocus="none"
                 acceptButtonStyleClass="p-button-danger"
                 rejectButtonStyleClass="p-button-text text-color-secondary"></p-confirmDialog>

<p-toast position="bottom-right"/>
