<app-generic-layout-single-instance *ngIf="provider"
                                    [title]="title"
                                    i18n-buttonLabel buttonLabel="Return to configuration"
                                    [buttonLink]="['/organization', organizationSlug, 'audience', 'configuration']">

    <app-generic-square-cards-row class="grid col-12" [cards]="cards">
    </app-generic-square-cards-row>


    <div class="col-6">
        <app-generic-data-card i18n-title title="Domains"
                               i18n-subtitle subtitle="Add domains for sending compliance"
                               i18n-buttonLabel buttonLabel="Add domain"
                               buttonIcon="pi pi-plus"
                               (buttonClick)="openCreateDomain()">
            <app-domain-list [domains]="provider.domains"
                             [loading]="loading"
                             [canInspectDomain]="canUpdateProvider"
                             (onInspectDomain)="openInspectDomain($event)"
                             [canDeleteDomain]="canUpdateProvider"
                             (onDeleteDomain)="openDeleteDomain($event)">
            </app-domain-list>
        </app-generic-data-card>
    </div>

    <div class="col-6">
        <app-generic-data-card i18n-title title="Senders"
                               i18n-subtitle subtitle="Define senders to send emails"
                               i18n-buttonLabel buttonLabel="Create sender"
                               buttonIcon="pi pi-plus"
                               (buttonClick)="openCreateSender()">
            <app-sender-list [senders]="provider.senders"
                             [loading]="loading"
                             [canEditSender]="canUpdateProvider"
                             (onEditSender)="openEditSender($event)">
            </app-sender-list>
        </app-generic-data-card>
    </div>

    {{ provider | json }}

</app-generic-layout-single-instance>

<app-create-or-update-sender *ngIf="organizationSlug && provider"
                             (onCreateSender)="onCreateSender($event)"
                             (onEditSender)="onEditSender($event)"
                             (onDeleteSender)="openDeleteSender($event)"
                             [organizationSlug]="organizationSlug"
                             [provider]="provider">
</app-create-or-update-sender>

<app-create-domain *ngIf="organizationSlug && provider"
                   (onCreateDomain)="onCreateDomain($event)"
                   [organizationSlug]="organizationSlug"
                   [provider]="provider">
</app-create-domain>

<p-confirmDialog key="confirm-delete-sender" icon="pi pi-exclamation-triangle"
                 i18n-message message="Are you sure you want to permanently delete this sender ? It will prevent sendings relying on it."
                 defaultFocus="none"
                 acceptButtonStyleClass="p-button-danger"
                 rejectButtonStyleClass="p-button-text text-color-secondary"></p-confirmDialog>

<p-confirmDialog key="confirm-delete-domain" icon="pi pi-exclamation-triangle"
                 i18n-message message="Are you sure you want to permanently delete this domain ? It will prevent you from using any sender with this domain."
                 defaultFocus="none"
                 acceptButtonStyleClass="p-button-danger"
                 rejectButtonStyleClass="p-button-text text-color-secondary"></p-confirmDialog>
