<app-generic-layout-single-instance *ngIf="provider"
                                    [title]="title"
                                    i18n-buttonLabel buttonLabel="Return to configuration"
                                    [buttonLink]="['/organization', organizationSlug, 'audience', 'configuration']">

    <app-generic-square-cards-row class="grid col-12" [cards]="cards">
    </app-generic-square-cards-row>



    <div class="col-6">
        <app-generic-data-card i18n-title title="Senders"
                               i18n-subtitle subtitle="Define senders to send emails"
                               i18n-buttonLabel buttonLabel="Create sender"
                               buttonIcon="pi pi-plus"
                               (buttonClick)="onCreateSender()">
            <app-sender-list [senders]="provider.senders"
                             [loading]="loading"
                             [canEditSender]="canUpdateProvider"
                             [canDeleteSender]="canDeleteProvider"
                             (onEditSender)="onEditSender($event)"
                             (onDeleteSender)="onDeleteSender($event)"
                             (onCreateSender)="onCreateSender()">
            </app-sender-list>
        </app-generic-data-card>
    </div>

    {{ provider | json }}

</app-generic-layout-single-instance>
