<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4 i18n>Billing Portal</h4>
            <p i18n>
                Our billing is powered by Stripe.
                To access your invoices, modify your payment method or update your plan, please click link below :
            </p>

            <a [href]="getBillingPortalLink()" target="_blank" rel="noopener noreferrer">
                <p-button i18n-label label="Open Portal" icon="pi pi-external-link" class="p-button-raised p-button-rounded"></p-button>
            </a>
        </div>
    </div>

    <div class="col-12">
        <app-information-plans [plan]="currentOrganizationPlan"
                               (onPlanSelection)="openPaymentLink($event)"
                               (onPlanUpgrade)="openPortal()"
                               (onPlanDowngrade)="openPortal()"
                               (onPlanCancel)="openPortal()"></app-information-plans>
    </div>

    <div class="col-12">
        <div class="card">
            <h4 i18n>Subscription Details</h4>

            <ng-container *ngIf="currentOrganizationPlan?.isTrial; else subscriptionDetails">

                <p [ngSwitch]="currentOrganizationPlan?.status">
                    <ng-container *ngSwitchCase="PlanStatus.ACTIVE" i18n>
                        Your free trial is valid until {{ currentOrganizationPlan?.currentPeriodEnd | date: 'mediumDate' }}.
                    </ng-container>

                    <ng-container *ngSwitchCase="PlanStatus.CANCELLED" i18n>
                        Your free trial has been cancelled and will expire on {{ currentOrganizationPlan?.currentPeriodEnd | date: 'mediumDate' }}.
                    </ng-container>

                    <ng-container *ngSwitchDefault i18n>
                        We have not been able to find any subscription for your organization.
                    </ng-container>
                </p>

            </ng-container>

            <ng-template #subscriptionDetails>

                <p [ngSwitch]="currentOrganizationPlan?.status">
                    <ng-container *ngSwitchCase="PlanStatus.ACTIVE" i18n>
                        Your subscription is active and valid until {{ currentOrganizationPlan?.currentPeriodEnd | date: 'mediumDate' }}.
                    </ng-container>

                    <ng-container *ngSwitchCase="PlanStatus.CANCELLED" i18n>
                        Your subscription has been cancelled and will expire on {{ currentOrganizationPlan?.currentPeriodEnd | date: 'mediumDate' }}.
                    </ng-container>

                    <ng-container *ngSwitchCase="PlanStatus.EXPIRED" i18n>
                        Your subscription has expired on {{ currentOrganizationPlan?.currentPeriodEnd | date: 'mediumDate' }}.
                    </ng-container>

                    <ng-container *ngSwitchCase="PlanStatus.INCOMPLETE">

                        <ng-container *ngIf="currentOrganizationPlan?.type === PlanType.FREE; else incompletelyPaid">
                            <span i18n>You have no subscription yet, please chose a plan above.</span>
                        </ng-container>
                        <ng-template #incompletelyPaid>
                            <span i18n>Your subscription is incomplete. Please open billing portal to solve the issue.</span>
                        </ng-template>

                    </ng-container>

                    <ng-container *ngSwitchDefault i18n>
                        We have not been able to find any subscription for your organization.
                    </ng-container>
                </p>

            </ng-template>

            <p *ngIf="currentOrganizationPlan?.customerEmail" i18n>
                Customer email who is responsible for this subscription : <b>{{ currentOrganizationPlan?.customerEmail }}</b>
            </p>

            <p *ngIf="currentOrganizationPlan?.lastInvoice; else noInvoiceYet">
                <a [href]="currentOrganizationPlan?.lastInvoice" target="_blank" rel="noopener noreferrer" class="text-primary" i18n>
                    Click here to view your last invoice <i class="pi pi-file-pdf"></i>
                </a>
            </p>

            <ng-template #noInvoiceYet>
                <p i18n>
                    No invoice available yet.
                </p>
            </ng-template>

        </div>
    </div>
</div>



