<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4 i18n>Billing Portal</h4>
            <p i18n>
                Our billing is powered by Stripe.
                To access your invoices, modify your payment method or cancel your plan, please click link below :
            </p>

            <a [href]="getBillingPortalLink()" target="_blank" rel="noopener noreferrer">
                <p-button i18n-label label="Open Portal" icon="pi pi-external-link" class="p-button-raised p-button-rounded"></p-button>
            </a>
        </div>
    </div>
</div>


<app-information-plans></app-information-plans>
