<div class="card py-8 px-6 md:px-8 overflow-auto">
	<div class="flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between border-bottom-1 surface-border pb-5 min-w-max">
		<div class="flex flex-column">
			<div class="my-3 text-4xl font-bold text-900">{{ currentOrganization?.name | titlecase }}</div>
			<span class="mb-2" *ngIf="currentOrganization">{{ currentOrganization.address.street }}</span>
			<span class="mb-2" *ngIf="currentOrganization">{{ currentOrganization.address.zip }} {{ currentOrganization.address.city }}</span>
			<span *ngIf="currentOrganization">{{ currentOrganization.address.country | countryName }}</span>
		</div>
        <div class="flex flex-column">
            <app-logo-textless class="opacity-20"></app-logo-textless>
        </div>
		<div class="flex flex-column mt-5 md:mt-0">
			<div class="text-2xl font-semibold text-left md:text-right mb-3" i18n>INVOICE</div>
			<div class="flex flex-column">
				<div class="flex justify-content-between align-items-center mb-2">
					<span class="font-semibold mr-6" i18n>INVOICE DATE</span>
					<span>{{ lastDayOfPreviousMonth | date: 'dd/MM/yyyy' }}</span>
				</div>
                <div class="flex justify-content-between align-items-center mb-2">
                    <span class="font-semibold mr-6" i18n>DUE DATE</span>
                    <span>{{ dueDate | date: 'dd/MM/yyyy' }}</span>
                </div>
				<div class="flex justify-content-between align-items-center mb-2">
					<span class="font-semibold mr-6" i18n>REFERENCE #</span>
					<span>8523</span>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-5 mb-8 flex flex-column" *ngIf="currentOrganization?.billingContact?.firstName">
		<div class="mb-3 text-2xl font-medium" i18n>Billed to</div>
		<span class="mb-2">{{ currentOrganization?.billingContact | fullName }}</span>
        <span>{{ currentOrganization?.billingContact?.email }}</span>
	</div>

	<div class="overflow-x-auto">
		<table class="w-full" style="border-collapse: collapse; table-layout: auto">
			<thead>
				<tr>
					<th class="text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap" i18n>Description</th>
					<th class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap px-3" i18n>Quantity</th>
					<th class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap px-3" i18n>Unit Price</th>
					<th class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap" i18n>Line Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap" *ngIf="currentOrganization">{{ currentOrganization.subscription.type | planDesignation }}</td>
					<td class="text-right py-3 border-bottom-1 surface-border px-3">1</td>
					<td class="text-right py-3 border-bottom-1 surface-border px-3" *ngIf="currentOrganization">{{ amount | currency }}</td>
					<td class="text-right py-3 border-bottom-1 surface-border" *ngIf="currentOrganization">{{ amount | currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mt-8">
        <div class="flex flex-column">
            <div class="flex justify-content-between align-items-start mb-2">
                <span class="font-semibold mr-6" i18n>NOTES</span>
                <p>
                    <span i18n>Please provide invoice reference with your payment</span><br/>
                    <span i18n>Total payment is due within 30 days</span>
                </p>
            </div>
        </div>
		<div class="flex flex-column">
			<div class="flex justify-content-between align-items-center mb-2">
				<span class="font-semibold mr-6" i18n>SUBTOTAL</span>
				<span *ngIf="currentOrganization">{{ amount | currency }}</span>
			</div>
			<div class="flex justify-content-between align-items-center mb-2">
				<span class="font-semibold mr-6" i18n>VAT (20%)</span>
				<span>{{ taxes | currency }}</span>
			</div>
			<div class="flex justify-content-between align-items-center">
				<span class="font-semibold mr-6" i18n>TOTAL</span>
				<span>{{ totalAmount | currency }}</span>
			</div>
		</div>
	</div>
</div>
