<app-generic-data-list
    i18n-title title="Available Feeds"
    i18n-emptyMessage emptyMessage="No feed found, create your first feed to start fetching articles"
    [items]="feeds"
    [loading]="loading"
    [itemTemplate]="feedTemplate"
    [withItemMenu]="true"

    i18n-inspectLabel inspectLabel="Fetch Articles"
    inspectIcon="pi pi-play-circle"
    [canInspect]="canRunFeed"
    (onInspect)="onRunFeed.emit($event)"

    [canEdit]="canEditFeed"
    (onEdit)="onEditFeed.emit($event)"
    [canDelete]="canDeleteFeed"
    (onDelete)="onDeleteFeed.emit($event)"
>

    <!-- Template for each provider item -->
    <ng-template #feedTemplate let-feed let-index="index">

        <div class="flex align-items-center justify-content-between">

            <div class="flex align-items-center mr-5" style="flex-grow: 1 !important; flex-shrink: 1 !important; flex-basis:33% !important;">
                <p-checkbox [disabled]="!canEditFeed" [binary]="true" (onChange)="onCheckboxChange($event, feed)" [(ngModel)]="feed.scrapingEnabled" [inputId]="index.toString(10)"></p-checkbox>
                <label [for]="index" style="word-break: break-word;" class="font-semibold ml-2" [ngClass]="{'line-through': !feed.scrapingEnabled}">{{ feed.displayName }}</label>
            </div>

            <span class="flex align-items-center font-semibold mr-3" i18n-pTooltip pTooltip="Fetched Articles" tooltipPosition="bottom">
                <i class="pi pi-box mr-2"></i>{{ feed.totalArticles || 0 }}
            </span>

            <!-- user scheduling -->
            <span *ngIf="feed.scrapingEnabled" [class.line-through]="autoScrapingRelevant(feed)" class="flex align-items-center font-medium white-space-nowrap mr-3">
                <i class="pi pi-clock mr-2"></i>{{ feed | frequency:'manual' }}
            </span>

            <!-- if auto scheduler erased user config -->
            <span *ngIf="autoScrapingRelevant(feed)" class="flex align-items-center font-medium white-space-nowrap mr-3">
                {{ feed | frequency:'auto' }}
            </span>

            <span *ngIf="feed.scrapingEnabled && feed.lastWeekArticles === 0" class="flex align-items-center font-medium">
                <i class="pi pi-exclamation-triangle mr-2"></i><span i18n>No article in last 7 days</span>
            </span>

            <span *ngIf="!feed.scrapingEnabled" class="flex align-items-center font-medium">
                <i class="pi pi-info-circle mr-2"></i><span i18n>Scraping disabled</span>
            </span>

        </div>

    </ng-template>
</app-generic-data-list>
