<div class="card">
    <p-table #dt [value]="organizations" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
                </span>
                <button (click)="navigateToCreateOrganization()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-building" label="Add New"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" class="white-space-nowrap" style="width:25%">Name <p-sortIcon field="name"></p-sortIcon></th>

                <th pSortableColumn="createdAt" class="white-space-nowrap" style="width:25%">Creation Date <p-sortIcon field="createdAt"></p-sortIcon></th>
                <th pSortableColumn="address.country" class="white-space-nowrap" style="width:25%">Country <p-sortIcon field="address.country"></p-sortIcon></th>
                <th pSortableColumn="security.twoFactorAuthenticationEnabled" class="white-space-nowrap" style="width:10%">2FA <p-sortIcon field="security.twoFactorAuthenticationEnabled"></p-sortIcon></th>
                <th pSortableColumn="subscription.type" class="white-space-nowrap" style="width:25%">Plan <p-sortIcon field="subscription.type"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-organization>
            <tr>
                <td>{{ organization.name }}</td>
                <td>{{ organization.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <img src="../../../../../assets/demo/images/flag/flag_placeholder.png" [class]="'flag flag-' + organization.address.country.toLowerCase()" class="w-2rem mr-2">
                    {{ organization.address.country | countryName }}
                </td>
                <td>
                    <i *ngIf="organization.security.twoFactorAuthenticationEnabled; else twoFactorAuthenticationDisabled"
                       class="pi pi-check mr-2 text-900 text-green-500"></i>
                    <ng-template #twoFactorAuthenticationDisabled>
                        <i class="pi pi-times mr-2 text-900 text-red-500"></i>
                    </ng-template>
                </td>
                <td>{{ organization.subscription.type }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
