<div class="grid">
    <div class="col-12 md:col-12 xl:col-12 ">

        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <span class="text-900 text-xl font-semibold" i18n>Feeds Management</span>
                <button pButton pRipple class="p-button font-semibold" icon="pi pi-plus" i18n-label label="Add Feed" (click)="showDialog()"></button>
            </div>
            <app-feed-list [feeds]="feeds" i18n-title title="Existing Feeds"></app-feed-list>
        </div>

    </div>

    <div class="col-12">

        <div class="card">
            <h5 i18n>Last Executions</h5>
            <app-feed-run-list [runs]="feedRuns" (runSelect)="navigateToFeedRun($event)"></app-feed-run-list>
        </div>

    </div>

    <div class="col-12 md:col-12 xl:col-6">

        <div class="card">
            <h5 i18n>Auto Scheduling</h5>
            <p i18n>
                Scraping frequency can be too high, scraping same articles multiple times, or too low, missing articles
                <br/>
                If enabled, auto scheduling will adjust frequency in order to find the right spot
            </p>


            <p-toggleButton [(ngModel)]="autoSchedule" (onChange)="toggleAutoSchedule($event)"
                            i18n-onLabel onLabel="Enabled" i18n-offLabel offLabel="Disabled"
                            class="block text-center" [style]="{'width': '10em'}"></p-toggleButton>
        </div>

    </div>
</div>

<app-create-or-update-feed *ngIf="currentOrgSlug" [organizationSlug]="currentOrgSlug"></app-create-or-update-feed>
