<p-toast position="bottom-right"></p-toast>

<p-dialog [header]="header || ''"
          [(visible)]="visible"
          [modal]="true"
          [closable]="true"
          [dismissableMask]="true"
          (onHide)="closeDialog.emit(false)"
          styleClass="mx-3 sm:mx-0 sm:w-full md:w-8 lg:w-6" contentStyleClass="border-round-bottom border-top-1 surface-border p-0">
    <div class="p-4">
        <div class="grid p-fluid formgrid">
            <div class="col-12 md:col-8 xl:col-9 field">
                <label for="feed-name" class="text-900 font-semibold" i18n>Tag Name</label>
                <input id="feed-name" type="text" i18n-placeholder placeholder="Sitemap, top articles, fun facts..." pInputText [(ngModel)]="tag.displayName" />
            </div>

            <div class="col-12 md:col-4 xl:col-3 field">
                <label for="color" class="text-900 font-semibold" i18n>Color</label>
                <p-dropdown inputId="color" [autoDisplayFirst]="false" [options]="availableSeverities" [(ngModel)]="tag.color">

                    <ng-template pTemplate="selectedItem">
                        <p-tag [severity]="tag.color" [value]="selectedSeverityLabel" styleClass="w-full"></p-tag>
                    </ng-template>
                    <ng-template let-color pTemplate="item">
                        <p-tag [severity]="color.value" [value]="color.label" styleClass="w-full"></p-tag>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="col-12 field">
                <label for="feed-description" class="text-900 font-semibold" i18n>Description (optional)</label>
                <textarea id="feed-description" [(ngModel)]="tag.description" rows="2" pInputTextarea style="resize: vertical;" i18n-placeholder placeholder="A small description can come handy"></textarea>
            </div>



            <div class="col-12 field">
                <label for="feed-description" class="text-900 font-semibold" i18n>Règles</label>
                <app-tag-rule *ngFor="let rule of tag.ruleset" [rule]="rule"></app-tag-rule>

                <ng-container *ngIf="tag.ruleset?.length === 0">
                    <p class="text-900" i18n>No rule found. Use table filters with icon <i class="pi pi-filter"></i></p>
                </ng-container>
            </div>

            <div class="col-12 flex justify-content-end mt-4">
                <button (click)="cancel()" [disabled]="saving" pButton pRipple class="p-button-outlined w-10rem mr-3" icon="pi pi-times" i18n-label label="Cancel"></button>

                <button *ngIf="creatingTag; else onlySave" (click)="createTag()" [disabled]="!canSave()" [loading]="saving"
                        pButton pRipple class="p-button-primary w-20rem" icon="pi pi-check" i18n-label label="Create Tag"></button>

                <ng-template #onlySave>
                    <button (click)="updateTag()" [disabled]="!canSave()" [loading]="saving"
                            pButton pRipple class="p-button-primary w-12rem" icon="pi pi-check" i18n-label label="Update Tag"></button>
                </ng-template>
            </div>
        </div>
    </div>
</p-dialog>
