
<div class="grid">
    <div class="col-3">
        <app-explorer (selectFolder)="loadBlocks($event)"></app-explorer>
    </div>

    <div class="col-6">

        <app-blocks-list *ngIf="blocks.length; else noBlock" [blocks]="blocks" (selectBlock)="openEditor($event)"></app-blocks-list>

        <ng-template #noBlock>
            <div class="m-0 p-0 list-none border-1 border-dashed surface-border border-round p-3 flex flex-column gap-2 w-full">
                <p class="vertical-align-middle text-xl text-center py-5" i18n>
                    <i class="pi pi-info-circle text-xl mr-1"></i> No blocks found here
                </p>
            </div>
        </ng-template>

    </div>

    <div class="col-3">

        <!-- button to create block -->
        <a [routerLink]="['editor']">
            <button pButton pRipple type="button" i18n-label label="Create Block" class="p-button-primary w-full"></button>
        </a>

        <a [routerLink]="['editor/html']">
            <button pButton pRipple type="button" i18n-label label="Create HTML Block" class="p-button-secondary w-full mt-2"></button>
        </a>

        <a [routerLink]="['bidule/editor']">
            <button pButton pRipple type="button" i18n-label label="Go to fake block" class="p-button-text w-full mt-2"></button>
        </a>

    </div>
</div>
