<li (click)="selectBlock.emit(block)"
    class="p-2 hover:surface-100 cursor-pointer border-round border-1 border-transparent transition-all transition-duration-200">
    <div class="flex flex-wrap p-2 align-items-center gap-3">
        <img
            class="w-4rem flex-shrink-0 border-round"
            src="https://primefaces.org/cdn/primeng/images/demo/product/black-watch.jpg"
            [alt]="block._id" />
        <div class="flex-1 flex flex-column gap-1">
            <span class="font-bold">
                {{ block.displayName }}
            </span>
            <div class="flex align-items-center gap-2">
                <span>
                    <p-tag *ngIf="!block.wysiwygEnabled" severity="success" value="HTML" class="mr-1"></p-tag> {{ block.description }}
                </span>
            </div>
        </div>
        <span class="font-bold text-900 ml-5">
            {{ block.updatedAt | date:'short' }}
        </span>
    </div>
</li>
