<p-dialog i18n-header header="Create Folder"
          [modal]="true" [(visible)]="visible"
          [style]="{ 'min-width': '25rem' }"
          (onHide)="cancel.emit()">
    <span class="p-text-secondary block mb-5" i18n>
        {{ selectedFolder?.displayName ? 'Create a subfolder inside "' + selectedFolder?.displayName + '"' : 'Create a top level folder'}}
    </span>
    <form [formGroup]="createFolderForm">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="create-displayName" class="font-semibold w-6rem" i18n>Name</label>
            <input pInputText id="create-displayName" class="flex-auto" formControlName="displayName" autocomplete="off" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="create-description" class="font-semibold w-6rem" i18n>Description</label>
            <input pInputText id="create-description" class="flex-auto" formControlName="description" autocomplete="off" />
        </div>
    </form>
    <div class="flex justify-content-end gap-2">
        <button pButton i18n-label label="Cancel" class="p-button-text" (click)="cancelFolderCreation()"></button>
        <button pButton i18n-label label="Create" [disabled]="!createFolderForm.valid" (click)="confirmFolderCreation()"></button>
    </div>
</p-dialog>
