<div class="grid">
	<div class="col-12">

        <app-articles-table #table
                            [articles]="articles" [feeds]="feeds" [categories]="categories" [tags]="tags"
                            [loading]="loading"
                            (onCreateTag)="openCreateTagDialog()"
                            class="block mb-4"></app-articles-table>

	</div>
</div>

<app-create-or-update-tag [organizationSlug]="organizationSlug"
                          [visible]="createOrUpdateTagDialog.visible"
                          [header]="createOrUpdateTagDialog.header"
                          [tag]="createOrUpdateTagDialog.tag"
                          [creatingTag]="createOrUpdateTagDialog.newTag"
                          (closeDialog)="closeCreateTagDialog()">
</app-create-or-update-tag>
