<div class="grid">
	<div class="col-12">

        <app-articles-table #table
                            [articles]="articles" [feeds]="feeds" [categories]="categories" [tags]="tags"
                            [loading]="loading"
                            (onCreateTag)="openCreateTagDialog()"
                            class="block mb-4"></app-articles-table>

	</div>

    <div class="col-12">
        <div class="card">
            <h5 i18n><i class="pi pi-microchip-ai text-xl mr-1"></i> Analytics</h5>
            <p i18n>
                We can suggest tags based on all your articles. This will help you to faster setup your contents.
                <br/>
                Or we can analyze your contents and try to find uncovered areas.
            </p>
        </div>
    </div>
</div>

<app-create-or-update-tag [organizationSlug]="organizationSlug"
                          [visible]="createOrUpdateTagDialog.visible"
                          [header]="createOrUpdateTagDialog.header"
                          [tag]="createOrUpdateTagDialog.tag"
                          [creatingTag]="createOrUpdateTagDialog.newTag"
                          (closeDialog)="closeCreateTagDialog()">
</app-create-or-update-tag>
