<p-dialog [header]="header"
          [(visible)]="visible"
          [modal]="true"
          [dismissableMask]="true"
          styleClass="mx-3 sm:mx-0 sm:w-full md:w-10 lg:w-8"
          contentStyleClass="border-round-bottom border-top-1 surface-border p-0">
    <div class="p-4">
        <div class="grid p-fluid formgrid justify-content-center">

            <div class="col-3">
                <div class="col-12 field">
                    <p class="font-bold text-900 mb-2">
                        <app-status-badge [value]="domain.ownership" entity="Boolean" class="mr-1"></app-status-badge> <span i18n>Ownership</span>
                    </p>
                    <p i18n>
                        TXT record to ensure you own the domain.
                    </p>
                </div>
            </div>

            <div class="col-1">
                <p-divider layout="vertical">
                </p-divider>
            </div>

            <div class="col-3">
                <div class="col-12 field">
                    <p class="font-bold text-900 mb-2">
                        <app-status-badge [value]="domain.dkim" entity="Boolean" class="mr-1"></app-status-badge> DKIM
                    </p>
                    <p i18n>
                        TXT record used by email clients to verify the authenticity of your emails.
                    </p>
                </div>
            </div>

            <div class="col-1">
                <p-divider layout="vertical">
                </p-divider>
            </div>

            <div class="col-3">

                <div class="col-12 field">
                    <p class="font-bold text-900 mb-2">
                        <app-status-badge [value]="domain.spf" entity="Boolean" class="mr-1"></app-status-badge> SPF
                    </p>
                    <p i18n>
                        TXT record to explicitly allow servers to use your domain name for sending emails.
                    </p>
                </div>
            </div>

            <!-- second row -->

            <div class="col-3">

                <div class="col-12 field">
                    <app-generic-copy-input i18n-label label="DNS Zone"
                                            inputId="domain-ownership-name"
                                            [inputValue]="domain.ownershipRecordName">
                    </app-generic-copy-input>
                </div>

                <div class="col-12 field">
                    <app-generic-copy-input i18n-label label="TXT Record Value"
                                            inputId="domain-ownership-value"
                                            [inputValue]="domain.ownershipRecordValue">
                    </app-generic-copy-input>
                </div>
            </div>

            <div class="col-1">
                <p-divider layout="vertical">
                </p-divider>
            </div>

            <div class="col-3">

                <div class="col-12 field">
                    <app-generic-copy-input i18n-label label="DNS Zone"
                                            inputId="domain-dkim-name"
                                            [inputValue]="domain.dkimRecordName">
                    </app-generic-copy-input>
                </div>

                <div class="col-12 field">
                    <app-generic-copy-input i18n-label label="TXT Record Value"
                                            inputId="domain-dkim-value"
                                            [inputValue]="domain.dkimRecordValue">
                    </app-generic-copy-input>
                </div>
            </div>

            <div class="col-1">
                <p-divider layout="vertical">
                </p-divider>
            </div>

            <div class="col-3">
                <div class="col-12 field">
                    <app-generic-copy-input i18n-label label="DNS Zone"
                                            inputId="domain-spf-name"
                                            [inputValue]="domain.spfRecordName">
                    </app-generic-copy-input>
                </div>

                <div class="col-12 field">
                    <app-generic-copy-input i18n-label label="TXT Record Value"
                                            inputId="domain-spf-value"
                                            [inputValue]="domain.spfRecordValue">
                    </app-generic-copy-input>
                </div>

            </div>

            <!--
            <div class="col-12">
                <p class="text-right text-sm mt-2">
                    To go further, check
                    <a href="https://documentation.mailjet.com/hc/en-us/articles/20531905163419-Understanding-DMARC" target="_blank">Mailjet documentation about DMARC here</a>
                </p>
            </div> -->

            <div class="col-12 flex justify-content-between mt-4">

                <div>
                    <button (click)="onDeleteDomain.emit(domain)" [disabled]="verifying"
                            pButton pRipple class="p-button-outlined p-button-danger" icon="pi pi-trash" i18n-label label="Remove"></button>
                </div>

                <div>
                    <button (click)="cancel()" [disabled]="verifying" pButton pRipple class="p-button-outlined w-10rem mr-3" icon="pi pi-times" i18n-label label="Close"></button>

                    <button *ngIf="canVerify()" (click)="verify()" [loading]="verifying"
                            pButton pRipple class="p-button-primary w-10rem" icon="pi pi-check" i18n-label label="Verify"></button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
