<div class="card">

    <p-menu #actionsMenu [popup]="true" [model]="actionsMenuItems"></p-menu>

    <p-table #dt [value]="users" [paginator]="true" [rows]="10" [rowHover]="true" responsiveLayout="scroll"
             [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['firstName', 'lastName','email']"
             (sortFunction)="customSort($event)" [customSort]="true" sortField="roles" [sortOrder]="-1">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" i18n-placeholder placeholder="Global Search" class="w-full" />
                </span>



                <div *ngIf="!multiOrganizations" class="flex flex-wrap gap-2">
                    <a [routerLink]="['/organization/' + currentOrgSlug + '/users/create']">
                        <button pButton class="w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus" i18n-label label="Invite New User"></button>
                    </a>

                    <button (click)="exportUsersToCSV()" pButton pRipple type="button"
                            icon="pi pi-upload" class="p-button p-button-outlined"
                            i18n-pTooltip pTooltip="Export users to CSV" tooltipPosition="bottom">
                    </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstName" class="white-space-nowrap" style="width:15%" i18n>First Name <p-sortIcon field="firstName"></p-sortIcon></th>
                <th pSortableColumn="lastName" class="white-space-nowrap" style="width:15%" i18n>Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
                <th pSortableColumn="email" class="white-space-nowrap" style="width:25%" i18n>Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="roles" class="white-space-nowrap" style="width:15%" i18n>Roles <p-sortIcon field="roles"></p-sortIcon></th>
                <th pSortableColumn="status" class="white-space-nowrap" style="width:15%" i18n>Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="createdAt" class="white-space-nowrap" style="width:30%" i18n>Invited <p-sortIcon field="createdAt"></p-sortIcon></th>
                <th pSortableColumn="lastSeenAt" class="white-space-nowrap" style="width:15%" i18n>Last Seen <p-sortIcon field="lastSeen"></p-sortIcon></th>
                <th class="white-space-nowrap" style="width:15%" i18n>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <div class="inline-flex align-items-center vertical-align-middle">
                    <img [src]="user.avatarUrl" i18n-alt alt="" class="w-2rem mr-2 p-border-round p-border-1 border-circle"/>
                        <span>{{ user.firstName}}<i *ngIf="isCurrentUser(user) | async" i18n-pTooltip pTooltip="You" tooltipPosition="bottom" class="pi pi-user ml-2"></i></span>
                    </div>
                </td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ RoleUtils.getRoleForOrganization(user, currentOrgSlug) | role }}</td>
                <td>{{ user.status | status }}</td>
                <td>{{ user.createdAt | date: 'dd/MM/yyyy'}} <i *ngIf="isInviteExpired(user)" i18n-pTooltip pTooltip="Invite expired" class="pi pi-exclamation-triangle text-yellow-500"></i></td>
                <td>
                    <ng-container *ngIf="user.lastSeenAt; else neverSeen">{{ user.lastSeenAt | date: 'dd/MM/yyyy'}}</ng-container>
                    <ng-template #neverSeen><span i18n>Never</span></ng-template>
                </td>
                <td>
                    <button (click)="toggleMenuFor(user, actionsMenu, $event)" pButton pRipple type="button" icon="pi pi-user-edit" class="p-button-rounded p-button-outlined p-button-info"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog i18n-header header="Delete User" key="confirm-delete" icon="pi pi-exclamation-triangle"
                 i18n-message message="Are you sure you want to delete user ? This action cannot be undone and will require you to re-invite the user."
                 [style]="{width: '350px'}" defaultFocus="none"
                 acceptButtonStyleClass="p-button-danger"
                 rejectButtonStyleClass="p-button-text text-color-secondary"></p-confirmDialog>

<p-toast position="bottom-right" />
