<div class="card">
    <p-table #dt [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['firstName', 'lastName','email']">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Global Search" class="w-full" />
                </span>
                <button (click)="navigateToCreateUser()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus" label="Add New"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstName" class="white-space-nowrap" style="width:25%">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
                <th pSortableColumn="lastName" class="white-space-nowrap" style="width:25%">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
                <th pSortableColumn="email" class="white-space-nowrap" style="width:25%">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="roles" class="white-space-nowrap" style="width:25%">Roles <p-sortIcon field="roles"></p-sortIcon></th>
                <th pSortableColumn="status" class="white-space-nowrap" style="width:25%">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="createdAt" class="white-space-nowrap" style="width:25%">Invited <p-sortIcon field="createdAt"></p-sortIcon></th>
                <th pSortableColumn="lastSeenAt" class="white-space-nowrap" style="width:25%">Last Seen <p-sortIcon field="lastSeen"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.firstName}}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ getUserRole(user) | titlecase }}</td>
                <td>{{ user.status | titlecase }}</td>
                <td>{{ user.createdAt | date: 'dd/MM/yyyy'}}</td>
                <td>
                    <ng-container *ngIf="user.lastSeenAt; else neverSeen">{{ user.lastSeenAt | date: 'dd/MM/yyyy'}}</ng-container>
                    <ng-template #neverSeen>Never</ng-template>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
