<app-generic-layout-single-instance *ngIf="provider"
                                    [title]="title"
                                    i18n-buttonLabel buttonLabel="Return to providers list"
                                    [buttonLink]="['/organization', organizationSlug, 'audience', 'contacts']">

    <app-generic-square-cards-row class="grid col-12" [cards]="[
                                    {
                                        icon: 'pi pi-cog',
                                        title: 'Type',
                                        description: provider.type | capitalize
                                    },
                                    {
                                        icon: 'pi pi-list',
                                        title: 'Contacts Lists',
                                        description: 3
                                    }, {
                                        icon: 'pi pi-users',
                                        title: 'Distinct Contacts',
                                        description: 283
                                    }]">
    </app-generic-square-cards-row>

    {{ provider | json }}

</app-generic-layout-single-instance>
