<div class="grid" *ngIf="feed && feedRun">
    <div class="col-12">

        <div class="flex justify-content-between">
            <div>
                <span class="text-900 font-bold text-4xl" i18n>Run of feed "{{ feed.displayName }}"</span>
            </div>

            <a [routerLink]="['/organization', organizationSlug, 'contents', 'feeds']">
                <button pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1"
                        i18n-label label="Return to feed list"></button>
            </a>
        </div>

    </div>

    <div class="col-12 md:col-6 xl:col-2">
        <div class=" card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-calendar-clock text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Started At</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.createdAt | date: 'HH:mm, dd/MM' }}</span>
        </div>
    </div>

    <!--
    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center">
            <i class="pi pi-clock text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium">Scraping Duration</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun?.scrapingDurationMs }}ms</span>
        </div>
    </div> -->

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-th-large text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Articles Found</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.articles.length }}</span>
        </div>
    </div>

    <!--
    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center">
            <i class="pi pi-database text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium">Save Duration</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun?.articlesCreationMs }}ms</span>
        </div>
    </div> -->

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-database text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>New Articles</span>
            <span class="text-900 text-2xl text-primary font-bold">
                <span *ngIf="feedRun.newArticles.length > 0">+</span>{{ feedRun.newArticles.length }}
            </span>
        </div>
    </div>


    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-tags text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Tags Impacted</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.tagsApplied }}</span>
        </div>
    </div>

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-1000">
            <i class="pi pi-clock text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Total Time</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.scrapingDurationMs + feedRun.articlesCreationMs }}ms</span>
        </div>

    </div>

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-1000">
            <i class="pi pi-check text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Status</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun | feedRunStatus  }}</span>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h4 i18n>Content</h4>
            <app-articles-view [allArticles]="feedRun.articles" [newArticles]="feedRun.newArticles" [articlesPerPage]="6"></app-articles-view>
        </div>
    </div>
</div>
