<app-generic-layout-single-instance *ngIf="feed && feedRun"
                                    [title]="title"
                                    i18n-buttonLabel buttonLabel="Return to feed list"
                                    [buttonLink]="['/organization', organizationSlug, 'contents', 'feeds']">

    <app-generic-square-cards-row class="grid col-12" [cards]="[
                                    {
                                        icon: 'pi pi-calendar-clock',
                                        title: 'Started At',
                                        description: (feedRun.createdAt | date: 'HH:mm, dd/MM') || ''
                                    },
                                    {
                                        icon: 'pi pi-th-large',
                                        title: 'Articles Found',
                                        description: feedRun.articles.length
                                    }, {
                                        icon: 'pi pi-database',
                                        title: 'New Articles',
                                        description: feedRun.newArticles.length
                                    }, {
                                        icon: 'pi pi-tags',
                                        title: 'Tags Impacted',
                                        description: feedRun.tagsApplied
                                    }, {
                                        icon: 'pi pi-clock',
                                        title: 'Total Time',
                                        description: feedRun.scrapingDurationMs + feedRun.articlesCreationMs + 'ms'
                                    }, {
                                        icon: 'pi pi-check',
                                        title: 'Status',
                                        description: feedRun | feedRunStatus
                                    }]">
    </app-generic-square-cards-row>

    <!--


    <div class="col-12 md:col-6 xl:col-2">
        <div class=" card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-calendar-clock text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Started At</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.createdAt | date: 'HH:mm, dd/MM' }}</span>
        </div>
    </div>

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-th-large text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Articles Found</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.articles.length }}</span>
        </div>
    </div>

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-database text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>New Articles</span>
            <span class="text-900 text-2xl text-primary font-bold">
                <span *ngIf="feedRun.newArticles.length > 0">+</span>{{ feedRun.newArticles.length }}
            </span>
        </div>
    </div>


    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-500">
            <i class="pi pi-tags text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Tags Impacted</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.tagsApplied }}</span>
        </div>
    </div>

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-1000">
            <i class="pi pi-clock text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Total Time</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun.scrapingDurationMs + feedRun.articlesCreationMs }}ms</span>
        </div>

    </div>

    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center fadein animation-duration-1000">
            <i class="pi pi-check text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium" i18n>Status</span>
            <span class="text-900 text-2xl text-primary font-bold">{{ feedRun | feedRunStatus  }}</span>
        </div>
    </div> -->

    <div class="col-12">
        <div class="card">
            <h4 i18n>Content</h4>
            <app-articles-view [allArticles]="feedRun.articles" [newArticles]="feedRun.newArticles" [articlesPerPage]="6"></app-articles-view>
        </div>
    </div>

</app-generic-layout-single-instance>
