<div class="relative overflow-hidden flex flex-column justify-content-center">
    <div class="bg-circle opacity-50" style="top: -200px; left: -700px;"></div>
    <div class="bg-circle hidden lg:flex" style="top: 50px; right:-800px; transform: rotate(60deg)"></div>
    <div class="landing-wrapper">
        <div
            class="flex align-items-center justify-content-between relative lg:static pt-4 px-4 mx-0 md:px-7 lg:px-4 lg:pt-4 lg:mx-8">
            <a class="cursor-pointer" (click)="router.navigate(['/landing'])">
                <app-logo></app-logo>
            </a>
            <a pRipple class="cursor-pointer block md:hidden text-700 text-primary" pStyleClass="@next"
                enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true">
                <i class="pi pi-bars text-4xl"></i>
            </a>
            <ul #menu  style="top:80px; right: 0%;"
                class="list-none  p-3 md:p-0  justify-content-end ng-hidden md:flex absolute md:static w-full md:w-6 md:px-0 z-3 shadow-2 md:shadow-none  surface-card md:surface-ground">
                <a pRipple class="cursor-pointer block md:hidden text-700 text-primary absolute z-5" style="top:1.5rem;
                right: 1.5rem;" pRipple pStyleClass="@parent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout">
                    <i class="pi pi-times text-3xl"></i>
                </a>

                <li class=" md:mt-0">
                    <a (click)="router.navigate(['/landing'], {fragment: 'home'})" pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span i18n>Home</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/landing'], {fragment: 'apps'})" pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span i18n>Apps</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/landing'], {fragment: 'pricing'})" pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span i18n>Pricing</span>
                    </a>
                </li>
                <li>
                    <a (click)="router.navigate(['/landing'], {fragment: 'features'})" pRipple pStyleClass="@grandparent"
                        enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span i18n>Features</span>
                    </a>
                </li>

                <li>
                    <a (click)="router.navigate(['/auth/login'], {fragment: 'features'})" pRipple pStyleClass="@grandparent"
                       enterFromClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden"
                       class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer">
                        <span i18n>Log In</span>
                    </a>
                </li>


                <li class="flex align-items-center">
                    <button pButton pRipple type="button" pStyleClass="@grandparent" enterFromClass="ng-hidden"
                        enterActiveClass="px-fadein" leaveToClass="ng-hidden" i18n-label label="Free Trial"
                        class="m-0 mt-3 md:mt-0 md:ml-5 white-space-nowrap"></button>
                </li>
            </ul>

        </div>
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 z-2">
            <div id="home"
                class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-8 md:py-8">
                <div
                    class="col-12 md:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
                    <span class="block text-900 font-bold text-4xl" i18n>Modern, stylish and clean</span>
                    <span class="block text-700 text-lg" i18n>The ultimate collection of design-agnostic, flexible and
                        accessible UI Components.</span>
                    <ul class="flex flex-wrap gap-5 list-none p-0">
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Javascript</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">TypeScript</span>
                        </li>
                        <li class="flex align-items-center">
                            <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
                            <span class="text-900 font-semibold">Angular</span>
                        </li>
                    </ul>
                    <button pButton pRipple type="button" i18n-label label="Log In" icon="pi pi-arrow-right" iconPos="right" [routerLink]="['/auth/login']"
                        class="w-12rem p-button-outlined"></button>
                </div>

                <div class="col-12 md:col-7 flex-order-0 md:flex-order-1 mb-6 md:mb-0 border-round">
                    <img animateEnter="moveinright"
                        src="assets/demo/images/landing/{{darkMode ? 'dashboard-dark' : 'dashboard-light'}}.png" alt=""
                        class="w-full h-full border-round shadow-2 animation-duration-1000 animation-ease-out">
                </div>
            </div>

            <div id="apps" class="my-6 md:my-8">
                <span class="text-900 block font-bold text-5xl mb-4 text-center">Apps</span>
                <span class="text-700 block text-xl mb-8 text-center line-height-3">Lorem ipsum dolor sit, amet
                    consectetur adipisicing elit. Velit numquam eligendi quos.</span>

                <div class="flex flex-column lg:flex-row align-items-center justify-content-between mt-8 gap-8">
                    <div class="flex flex-column align-items-center">
                        <img animateEnter="scalein"
                            src="assets/demo/images/landing/{{darkMode ? 'chat-dark' : 'chat-light'}}.png" alt="chat"
                            class="w-full h-full border-round surface-border shadow-2 animation-duration-500 origin-top">
                        <span class="block text-900 text-lg font-semibold mt-4">Chat</span>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <img animateEnter="scalein"
                            src="assets/demo/images/landing/{{darkMode ? 'mail-dark' : 'mail-light'}}.png" alt="chat"
                            class="w-full h-full border-round surface-border shadow-2 animation-duration-500 origin-top">
                        <span class="block text-900 text-lg font-semibold mt-4">Mail</span>
                    </div>
                    <div class="flex flex-column align-items-center">
                        <img animateEnter="scalein"
                             src="assets/imgs/landing/{{darkMode ? 'feedrun' : 'feedrun'}}.png"
                            alt="chat"
                            class="w-full h-full border-round surface-border shadow-2 animation-duration-500 origin-top">
                        <span class="block text-900 text-lg font-semibold mt-4">Récupération des contenus</span>
                    </div>
                </div>
            </div>

            <div id="pricing" class="my-6 py-6 md:my-8 md:py-8">
                <div class="text-900 font-bold text-5xl mb-4 text-center" i18n>Pricing Plans</div>
                <div class="text-700 text-xl mb-8 text-center line-height-3" i18n>Choose a plan that works best for you and
                    your team.</div>

                <app-plans [forLanding]="true" [planEnabled]="planPostCheckout" [canCancelPlan]="false" [canUpdatePlan]="false"></app-plans>

            </div>

            <div id="features" class="my-6 py-6 md:my-8 md:py-8">
                <span class="text-900 block font-bold text-5xl mb-4 text-center" i18n>Features</span>
                <span class="text-700 block text-xl mb-8 text-center line-height-3" i18n>PrimeTek Informatics is the author
                    of PrimeReact, a UI Component vendor with well known vastly popular projects including PrimeFaces,
                    PrimeNG and PrimeVue.</span>

                <div class="grid mt-8">
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-components.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">90+ UI Components</span>
                            <p class="m-0 text-secondary text-700">The ultimate set of UI Components to assist you with
                                90+ impressive Angular Components.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-community.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Community</span>
                            <p class="m-0 text-secondary text-700">Connect with the other open source community members,
                                collaborate and have a voice in the project roadmap.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-productivity.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Productivity</span>
                            <p class="m-0 text-secondary text-700">Boost your productivity by achieving more in less
                                time and accomplish amazing results.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-accessibility.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Accessibility</span>
                            <p class="m-0 text-secondary text-700">The ultimate set of UI Components to assist you with
                                90+ impressive Angular Components.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-support.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Enterprise Support</span>
                            <p class="m-0 text-secondary text-700">Exceptional support service featuring response within
                                1 business day and option to request enhancements and new features for the library.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-mobile.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Mobile</span>
                            <p class="m-0 text-secondary text-700">First class support for responsive design led by
                                touch optimized elements.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-theme.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Themes</span>
                            <p class="m-0 text-secondary text-700">Built on a design-agnostic api, choose from a vast
                                amount of themes such as material, bootstrap, custom or develop your own.</p>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 xl:col-3 flex justify-content-center p-3">
                        <div class="box p-4 w-full surface-card surface-border border-1 border-round">
                            <img src="assets/demo/images/landing/icon-ts.svg" alt="components icon"
                                class="block mb-3" />
                            <span class="text-900 block font-semibold mb-3 text-lg">Typescript</span>
                            <p class="m-0 text-secondary text-700">Top-notch support for Typescript with types and
                                tooling assistance.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid justify-content-center my-6 pt-4 md:my-8">
                <div class="col-12 md:col-4 text-center md:text-left">
                    <a class="cursor-pointer" href="#">
                        <app-logo-phrase></app-logo-phrase>
                    </a>
                </div>

                <div class="col-12 md:col-10 lg:col-7">
                    <div class="grid text-center md:text-left">
                        <div class="col-12 md:col-3">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900" i18n>Company</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700" i18n>Contact Us</a>
                            <a class="line-height-3 block cursor-pointer text-700" i18n>About</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900" i18n>Resources</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700" i18n>Get Started</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700" i18n [href]="documentationLink" target="_blank">Documentation</a>
                            <a class="line-height-3 block cursor-pointer text-700" i18n>Case Studies</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900" i18n>Community</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700" i18n>FAQ</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700" i18n>Help</a>
                            <a class="line-height-3 block cursor-pointer text-700" i18n>Blog</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-xl line-height-3 mb-3 text-900" i18n>Legal</h4>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700" i18n>Terms of Service</a>
                            <a class="line-height-3 block cursor-pointer mb-2 text-700" i18n>Privacy Policy</a>
                            <a class="line-height-3 block cursor-pointer text-700" i18n>GDPR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-config [minimal]="true"></app-config>

<app-payment-confirmation-dialog [visible]="!!planPostCheckout"></app-payment-confirmation-dialog>
