<div class="layout-sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="sidebar-header pt-3 pb-0">
        <a [routerLink]="['/landing']" class="app-logo">
            <app-logo></app-logo>
        </a>
        <!-- <button class="layout-sidebar-anchor p-link z-2 mb-2" type="button" (click)="anchor()"></button> -->
    </div>

    <div class="p-3">
        <p-dropdown [options]="availableOrganizations"
                    [(ngModel)]="selectedOrganization"
                    (onChange)="onOrganizationChange()"
                    [disabled]="!(availableOrganizations.length && availableOrganizations.length >= 2)"
                    optionLabel="name"
                    i18n-placeholder placeholder="Organization" styleClass="w-full"></p-dropdown>
    </div>


    <div #menuContainer class="layout-menu-container">
        <app-menu></app-menu>
    </div>
</div>
