<div class="layout-topbar">
    <div class="topbar-start">
        <button #menubutton type="button" class="topbar-menubutton p-link p-trigger" (click)="onMenuButtonClick()">
            <i class="pi pi-bars"></i>
        </button>

        <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
    </div>

    <div class="topbar-end">
        <ul class="topbar-menu">
            <li class="topbar-search">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText i18n-placeholder placeholder="Search" class="w-12rem sm:w-full">
                </span>
            </li>
            <li class="ml-3">
                <button *ngIf="colorScheme === 'dim'; else lightMode" pButton type="button" icon="pi pi-moon" class="p-button-text p-button-secondary p-button-rounded flex-shrink-0" (click)="setLightMode()"></button>
                <ng-template #lightMode>
                    <button pButton type="button" icon="pi pi-sun" class="p-button-text p-button-secondary p-button-rounded flex-shrink-0" (click)="setDimMode()"></button>
                </ng-template>
            </li>
            <p-menu #menuLanguage [popup]="true" [model]="languages">
                <ng-template pTemplate="item" let-item>
                    <a pRipple class="flex align-items-center p-menuitem-link">
                        <span *ngIf="item.icon" [class]="item.icon"></span>
                        <img src="assets/demo/images/flag/flag_placeholder.png" style="width: 22px;" [class]="'mr-2 flag flag-' + item.countryCode"/>
                        <span class="ml-2">{{ item.label }}</span>
                        <span *ngIf="item.isActive" class="ml-2 pt-1"><i class="pi pi-check-circle"></i></span>
                        <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs">
                            {{ item.shortcut }}
                        </span>
                    </a>
                </ng-template>
            </p-menu>

            <li class="ml-3">
                <p-button (click)="menuLanguage.toggle($event)" [rounded]="true" [text]="true" severity="secondary">
                    <i class="pi pi-language"></i>
                    <img src="assets/demo/images/flag/flag_placeholder.png" style="width: 22px; opacity: .8;" [class]="'ml-2 flag flag-' + currentCountryCode"/>
                </p-button>
            </li>
            <li class="ml-3">
                <button pButton type="button" icon="pi pi-cog" class="p-button-text p-button-secondary p-button-rounded flex-shrink-0" (click)="onConfigButtonClick()"></button>
            </li>
            <li class="topbar-profile">


                <button *ngIf="(notifications | arrayFilter:{read: false}).length; else buttonWithoutBadge" type="button" class="p-link" (click)="onProfileButtonClick()" pBadge [value]="notificationsBadge" severity="danger">
                    <img [src]="avatarImage" i18n-alt alt="Profile" class="p-border-round p-border-1"/>
                </button>

                <ng-template #buttonWithoutBadge>
                    <button type="button" class="p-link" (click)="onProfileButtonClick()">
                        <img [src]="avatarImage" i18n-alt alt="Profile" class="p-border-round p-border-1"/>
                    </button>
                </ng-template>
            </li>
        </ul>
    </div>
</div>
