<app-generic-data-table [columns]="columns"
                        [loading]="loading"
                        [itemRowTemplate]="itemRowTemplate"
                        [items]="domains" (itemSelect)="onInspectDomain.emit($event)">
    <ng-template #itemRowTemplate let-domain>
        <td>
            {{ domain.domain }}
        </td>
        <td>
            <ng-container *ngIf="domain.ownership; else ko">
                <span i18n>OK</span>
            </ng-container>
        </td>
        <td>
            <ng-container *ngIf="domain.dkim; else ko">
                <span i18n>OK</span>
            </ng-container>
        </td>
        <td>
            <ng-container *ngIf="domain.spf; else ko">
                <span i18n>OK</span>
            </ng-container>
        </td>
        <td>
            <app-status-badge [value]="domain" entity="Domain"></app-status-badge>
        </td>
    </ng-template>
</app-generic-data-table>

<ng-template #ko>
    <span i18n>KO</span>
</ng-template>
