<app-generic-data-table [columns]="columns"
                        [loading]="loading"
                        [itemRowTemplate]="itemRowTemplate"
                        [items]="domains" (itemSelect)="onInspectDomain.emit($event)">
    <ng-template #itemRowTemplate let-domain>
        <td>
            {{ domain.domain }}
        </td>
        <td>
            <app-status-badge [value]="domain.ownership" entity="Boolean"></app-status-badge>
        </td>
        <td>
            <app-status-badge [value]="domain.dkim" entity="Boolean"></app-status-badge>
        </td>
        <td>
            <app-status-badge [value]="domain.spf" entity="Boolean"></app-status-badge>
        </td>
        <td>
            <app-status-badge [value]="domain" entity="Domain"></app-status-badge>
        </td>
    </ng-template>
</app-generic-data-table>
