<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Organization</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Identity</div>
        </div>
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field col-12 md:col-6">
                    <label for="name" class="font-medium text-900">Organization Name</label>

                    <span class="p-input-icon-left">
                        <i class="pi pi-building"></i>
                        <input id="name" type="text" pInputText>
                    </span>

                </div>
                <div class="field col-12 md:col-6">
                    <label for="display-name" class="font-medium text-900">Display Name</label>
                    <input id="display-name" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="logo" class="font-medium text-900">Logo</label>
                    <p-fileUpload mode="basic" name="logo" url="./upload.php" accept="image/*" [maxFileSize]="1000000" styleClass="p-button-outlined p-button-plain" chooseLabel="Upload Image"></p-fileUpload>
                </div>
                <div class="field mb-4 col-12">
                    <label for="bio" class="font-medium text-900">Activity</label>
                    <textarea id="bio" type="text" pInputTextarea rows="2" [autoResize]="true"></textarea>
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="street" class="font-medium text-900">Street</label>
                    <input id="street" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="city" class="font-medium text-900">City</label>
                    <input id="city" type="text" pInputText>
                </div>
                <div class="field mb-3 col-12 md:col-4">
                    <label for="country" class="font-medium text-900">Country</label>
                    <p-dropdown inputId="country" [options]="countries" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="../../../../../assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field mb-4 col-12">
                    <label for="company-id" class="font-medium text-900">SIRET / SIREN</label>
                    <input id="company-id" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="website" class="font-medium text-900">Website</label>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <span>www.</span>
                        </p-inputGroupAddon>
                        <input id="website" type="text" pInputText>
                    </p-inputGroup>
                </div>
                <div class="col-12 flex md:justify-content-end justify-content-center">
                    <button pButton pRipple label="Save Changes" icon="pi pi-save" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Contacts</div>
        </div>
        <div class="col-12 lg:col-10">
            <h5>Administrator</h5>
            <div class="grid formgrid p-fluid">
                <div class="field col-12 md:col-6">
                    <label for="firstname-administrator" class="font-medium text-900">First Name</label>
                    <input id="firstname-administrator" type="text" pInputText>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="familyname-administrator" class="font-medium text-900">Family Name</label>
                    <input id="familyname-administrator" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="email-administrator" class="font-medium text-900">Email</label>
                    <input id="email-administrator" type="text" pInputText>
                </div>

                <div class="field col-12">
                    <div class="field-checkbox">
                        <p-checkbox name="consent-administrator" [binary]="true" [(ngModel)]="adminContactConsents" id="consent-administrator"></p-checkbox>
                        <label for="consent-administrator">User explicitly granted permission to receive mails</label>
                    </div>
                </div>
                <div class="col-12 flex md:justify-content-end justify-content-center">
                    <button pButton pRipple label="Update Administrator" icon="pi pi-save" class="w-auto mt-3"></button>
                </div>
            </div>

            <h5>Billing</h5>
            <div class="grid formgrid p-fluid">
                <div class="field col-12 md:col-6">
                    <label for="firstname-billing" class="font-medium text-900">First Name</label>
                    <input id="firstname-billing" type="text" pInputText>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="familyname-billing" class="font-medium text-900">Family Name</label>
                    <input id="familyname-billing" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="email-billing" class="font-medium text-900">Email</label>
                    <input id="email-billing" type="text" pInputText>
                </div>

                <div class="field col-12">
                    <div class="field-checkbox">
                        <p-checkbox name="consent-billing" [binary]="true" [(ngModel)]="billingContactConsents" id="consent-billing"></p-checkbox>
                        <label for="consent-billing">User explicitly granted permission to receive mails</label>
                    </div>
                </div>
                <div class="col-12 flex md:justify-content-end justify-content-center">
                    <button pButton pRipple label="Update Billing" icon="pi pi-save" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">Settings</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Plan</div>
        </div>
        <div class="col-12 lg:col-10">
            <app-plans planEnabled="basic"></app-plans>

            <div class="col-12 flex md:justify-content-end justify-content-center">
                <button pButton pRipple label="Resiliate Plan" icon="pi pi-save" class="w-auto mt-3 p-button-danger p-button-outlined"></button>
            </div>
        </div>


    </div>

    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3">Security</div>
        </div>
        <div class="col-12 lg:col-10">

            <div class="grid formgrid p-fluid">
                <div class="field col-12">
                    <h5>Two Factor Authentication</h5>

                    <p-inputSwitch [(ngModel)]="force2FA"></p-inputSwitch>
                    <span class="text-900 p-3">Enable 2FA for all users</span>
                </div>

                <!-- TODO force select Email + disable select button -->
                <div *ngIf="force2FA || true" class="field col-12 md:col-6">
                    <p-selectButton [options]="optionsFor2FA" [(ngModel)]="selectedOptionsFor2FA" [multiple]="true"
                                    optionLabel="name"></p-selectButton>
                </div>
            </div>

            <div class="col-12 flex md:justify-content-end justify-content-center">
                <button pButton pRipple label="Update Settings" icon="pi pi-save" class="w-auto mt-3"></button>
            </div>
        </div>
    </div>
</div>
