<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block" i18n>Organization</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3" i18n>Identity</div>
        </div>
        <div class="col-12 lg:col-10">
            <form class="grid formgrid p-fluid" [formGroup]="identityForm">
                <div class="field col-12 md:col-6">
                    <label for="name" class="font-medium text-900" i18n>Organization Name</label>

                    <span class="p-input-icon-left">
                        <i class="pi pi-building"></i>
                        <input formControlName="name" id="name" type="text" pInputText>
                    </span>

                </div>
                <div class="field col-12 md:col-6">
                    <label for="legal-name" class="font-medium text-900" i18n>Legal Name</label>
                    <input formControlName="legalName" id="legal-name" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="logo" class="font-medium text-900" i18n>Logo</label>
                    <p-fileUpload mode="basic" name="logo" url="./upload.php" accept="image/*" [maxFileSize]="1000000"
                                  styleClass="p-button-outlined p-button-plain"
                                  i18n-chooseLabel chooseLabel="Upload Image"></p-fileUpload>
                </div>
                <div class="field mb-4 col-12">
                    <label for="bio" class="font-medium text-900" i18n>Activity</label>
                    <textarea formControlName="activity"
                              id="bio" type="text" pInputTextarea rows="2" [autoResize]="true">
                    </textarea>
                </div>
                <div class="field mb-4 col-12 md:col-4" formGroupName="address">
                    <label for="street" class="font-medium text-900" i18n>Street</label>
                    <input formControlName="street" id="street" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12 md:col-4" formGroupName="address">
                    <label for="city" class="font-medium text-900" i18n>City</label>
                    <input formControlName="city" id="city" type="text" pInputText>
                </div>

                <div class="field mb-4 col-12 md:col-4" formGroupName="address">
                    <label for="zipCode" class="font-medium text-900" i18n>ZIP Code</label>
                    <input formControlName="zip" id="zipCode" type="text" pInputText>
                </div>

                <div class="field mb-3 col-12 md:col-4" formGroupName="address">
                    <label for="country" class="font-medium text-900" i18n>Country</label>
                    <p-dropdown formControlName="country" inputId="country" [options]="countries" optionLabel="name"
                                [filter]="true" filterBy="name" [showClear]="true"
                                i18n-placeholder placeholder="Select a Country">
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field mb-4 col-12">
                    <label for="company-id" class="font-medium text-900" i18n>Company ID</label>
                    <input formControlName="legalId" id="company-id" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="website" class="font-medium text-900" i18n>Website</label>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <span>www.</span>
                        </p-inputGroupAddon>
                        <input formControlName="website" id="website" type="text" pInputText>
                    </p-inputGroup>
                </div>
                <div class="col-12 flex md:justify-content-end justify-content-center">
                    <button (click)="updateIdentityFields()" [disabled]="!canSaveIdentity()"
                            pButton pRipple i18n-label label="Save Changes" icon="pi pi-save" class="w-auto mt-3"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3" i18n>Contacts</div>
        </div>
        <div class="col-12 lg:col-10">
            <h5 i18n>Administrator</h5>
            <p class="text-600" i18n>Will receive emails related to new features, activity reports and scheduled downtimes</p>
            <form [formGroup]="adminContactForm" class="grid formgrid p-fluid">
                <div class="field col-12 md:col-6">
                    <label for="firstname-administrator" class="font-medium text-900" i18n>First Name</label>
                    <input formControlName="firstName" id="firstname-administrator" type="text" pInputText>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="lastname-administrator" class="font-medium text-900" i18n>Last Name</label>
                    <input formControlName="lastName" id="lastname-administrator" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="email-administrator" class="font-medium text-900" i18n>Email</label>
                    <input formControlName="email" id="email-administrator" type="text" pInputText>
                </div>

                <div class="field col-12">
                    <div class="field-checkbox">
                        <p-checkbox formControlName="consent" name="consent-administrator" [binary]="true" id="consent-administrator"></p-checkbox>
                        <label for="consent-administrator" i18n>User explicitly granted permission to receive mails</label>
                    </div>
                </div>
                <div class="col-12 flex md:justify-content-end justify-content-center">
                    <button (click)="updateAdminContact()" [disabled]="!canSaveAdminContact()"
                            pButton pRipple i18n-label label="Update Administrator" icon="pi pi-save" class="w-auto mt-3"></button>
                </div>
            </form>

            <h5 i18n>Billing</h5>
            <p class="text-600" i18n>Will receive emails related to payments, cancellation and contract changes</p>
            <div [formGroup]="billingContactForm" class="grid formgrid p-fluid">
                <div class="field col-12 md:col-6">
                    <label for="firstname-billing" class="font-medium text-900" i18n>First Name</label>
                    <input formControlName="firstName" id="firstname-billing" type="text" pInputText>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="lastname-billing" class="font-medium text-900" i18n>Last Name</label>
                    <input formControlName="lastName" id="lastname-billing" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12">
                    <label for="email-billing" class="font-medium text-900" i18n>Email</label>
                    <input formControlName="email" id="email-billing" type="text" pInputText>
                </div>

                <div class="field col-12">
                    <div class="field-checkbox">
                        <p-checkbox formControlName="consent" name="consent-billing" [binary]="true" id="consent-billing"></p-checkbox>
                        <label for="consent-billing" i18n>User explicitly granted permission to receive mails</label>
                    </div>
                </div>
                <div class="col-12 flex md:justify-content-end justify-content-center">
                    <button (click)="updateBillingContact()" [disabled]="!canSaveBillingContact()"
                            pButton pRipple i18n-label label="Update Billing" icon="pi pi-save" class="w-auto mt-3"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block" i18n>Available Plans</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3" i18n>Note</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3" i18n>Each plan is billed for 30 days, change of plan mid period will be billed accordingly</p>
        </div>
        <div class="col-12 lg:col-10">
            <app-plans planEnabled="basic"></app-plans>

            <div class="col-12 flex md:justify-content-end justify-content-center">
                <button pButton pRipple i18n-label label="Resiliate Plan" icon="pi pi-save" class="w-auto mt-3 p-button-danger p-button-outlined"></button>
            </div>
        </div>


    </div>
</div>

<p-toast position="bottom-right" />
