<div class="flex justify-content-between align-items-center mb-2 w-full">
    <span class="text-900 text-xl font-semibold" i18n><i class="pi pi-objects-column mr-1"></i> Blocks Library</span>

    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText i18n-placeholder placeholder="Search for block" class="w-12rem sm:w-full">
    </span>

</div>

<div class="m-0 p-0 border-1 surface-overlay surface-border border-round flex w-full">
    <ul *ngIf="blocks.length; else loadingOrEmpty" class="list-none m-0 p-3 grid">
        <app-static-square-card i18n-text text="Previous" class="col-4 p-2 flex flex-column">
            <i class="flex pi pi-chevron-left text-4xl"></i>
        </app-static-square-card>


        <app-block-square-card *ngFor="let block of blocks | arraySort:{displayName:'asc'}" [block]="block" class="col-4 p-2"></app-block-square-card>

        <app-static-square-card i18n-text text="Next" class="col-4 p-2 flex flex-column">
            <i class="flex pi pi-chevron-right text-4xl"></i>
        </app-static-square-card>

    </ul>

    <ng-template #loadingOrEmpty>
        <div class="flex justify-content-center align-items-center w-full gap-4 p-3">
            <div class="flex"><p-progressSpinner *ngIf="loadingBlocks" class="flex p-mr-2" strokeWidth="5" styleClass="p-mr-2" [style]="{width: '50px', height: '50px'}"></p-progressSpinner></div>
            <div class="flex text-900">Loading blocks...</div>
        </div>
    </ng-template>
</div>




