<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block" i18n>Create Organization</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3" i18n>Identity</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3" i18n>Slug is the only field you won't be able to change.</p>
        </div>
        <div class="col-12 lg:col-10">
            <form [formGroup]="creationForm" class="grid formgrid p-fluid">
                <div class="field mb-4 col-10">
                    <label for="name" class="font-medium text-900" i18n>Organization Name</label>

                    <span class="p-input-icon-left">
                        <i class="pi pi-building"></i>
                        <input formControlName="name" id="name" type="text" pInputText>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <label for="slug" class="font-medium text-900" i18n>Slug (lowercase only)</label>
                    <input formControlName="slug" id="slug" type="text" oninput="this.value = this.value.toLowerCase()" pInputText>
                </div>

                <div class="field mb-3 col-12 md:col-4">
                    <label for="country" class="font-medium text-900" i18n>Country</label>
                    <p-dropdown formControlName="country" inputId="country" [options]="countries" optionLabel="name"
                                [filter]="true" filterBy="name" [showClear]="true"
                                i18n-placeholder placeholder="Select a Country">
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="col-12">
                    <button (click)="createOrganization()" [disabled]="!canCreateOrganization()"
                            pButton pRipple i18n-label label="Create Organization" class="w-auto mt-3"></button>

                    <a [routerLink]="['/administration/organizations/list']">
                        <button  pButton pRipple i18n-label label="Return to organizations list" class="p-button-text w-auto mt-3">
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast position="bottom-right" />
