<app-generic-data-table [columns]="columns"
                        [loading]="loading"
                        [itemRowTemplate]="itemRowTemplate"
                        [items]="senders" (itemSelect)="onEditSender.emit($event)">
    <ng-template #itemRowTemplate let-sender>
        <td>
            {{ sender.name }}
        </td>
        <td>
            {{ sender.email }}
        </td>
        <td>
            <app-status-badge [value]="sender" entity="Sender"></app-status-badge>
        </td>
    </ng-template>
</app-generic-data-table>
