<div *ngIf="loadingBlock" class="flex justify-content-between align-items-start mb-2">

    <div>
        <h1 class="m-0">
            <p-skeleton width="30rem" height="4rem" styleClass="mb-2" />
        </h1>

        <div class="flex align-items-center">
            <p-skeleton width="20rem" height="2rem" styleClass="mb-2" />
        </div>

    </div>

</div>

<ng-container *ngIf="block">

    <!-- Display name and description -->
    <div class="flex justify-content-between align-items-start mb-2 fadein animation-duration-200">

        <div>
            <h1 class="m-0">
                {{ block.displayName | emptyBlockDisplayName }}
                <button pButton pRipple type="button"
                        (click)="openDisplayNameDialog()"
                        icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text"></button>
            </h1>

            <div class="flex align-items-center">
                <span class="text-900">{{ block.description | emptyBlockDescription }}</span>
                <button pButton pRipple type="button"
                    (click)="openDescriptionDialog()"
                    icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text ml-2"></button>
            </div>

        </div>


        <div>

            <!-- delete block button -->
            <button pButton pRipple type="button"
                    (click)="openDeleteBlockDialog()"
                    label="Delete Block"
                    icon="pi pi-trash"
                    class="p-button-outlined p-button-danger mb-2 mr-2"></button>

            <!-- save block button -->
            <button pButton pRipple type="button"
                    (click)="saveBlock()"
                    [loading]="savingBlock"
                    label="Save Block"
                    icon="pi pi-save"
                    class="p-button p-button-primary mb-2"></button>


            <div class="flex justify-content-end">
            <button pButton pRipple type="button"
                    [disabled]="!block.canUndo()"
                    (click)="undo()"
                    pTooltip="Undo"
                    tooltipPosition="bottom"
                    icon="pi pi-arrow-left"
                    class="p-button-icon-only p-button-secondary p-button-text"></button>

            <button pButton pRipple type="button"
                    [disabled]="!block.canRedo()"
                    (click)="redo()"
                    pTooltip="Redo"
                    tooltipPosition="bottom"
                    icon="pi pi-arrow-right"
                    class="p-button-icon-only p-button-secondary p-button-text"></button>
            </div>


        </div>
    </div>

    <!-- Block editor sections -->
    <div class="grid fadein animation-duration-200">



        <app-block-editor-wysiwyg *ngIf="block.wysiwygEnabled; else previewOnly"
                                  [block]="block"
                                  class="col-12 md:col-12 xl:col-6 flex-order-0">
        </app-block-editor-wysiwyg>

        <ng-template #previewOnly>
            <app-block-editor-preview [block]="block"
                                      class="col-12 md:col-12 xl:col-6 flex-order-1">
            </app-block-editor-preview>
        </ng-template>

        <app-block-editor-code [block]="block"
                               (blockChange)="cloneBlock()"
                               class="col-12 md:col-12 xl:col-6"
                               [class.flex-order-2]="block.wysiwygEnabled"
                               [class.flex-order-0]="!block.wysiwygEnabled">
        </app-block-editor-code>

        <app-block-editor-parameters [block]="block"
                                     (blockChange)="cloneBlock()"
                                     class="col-12 md:col-12 xl:col-6 flex-order-2"
                                     [class.flex-order-1]="block.wysiwygEnabled"
                                     [class.flex-order-2]="!block.wysiwygEnabled">
        </app-block-editor-parameters>

        <app-block-editor-debug [block]="block" [darkMode]="darkMode"
                                class="col-12 md:col-12 xl:col-6 flex-order-3">
        </app-block-editor-debug>
    </div>


</ng-container>

<p-confirmDialog i18n-header header="Delete Block" key="confirm-delete" icon="pi pi-exclamation-triangle"
                 i18n-message message="Are you sure you want to delete block ? Templates relying on this block will be affected. This action cannot be undone."
                 [style]="{width: '600px'}" defaultFocus="none"
                 acceptButtonStyleClass="p-button-danger"
                 rejectButtonStyleClass="p-button-text text-color-secondary"></p-confirmDialog>

<p-toast key="block-editor" position="bottom-right"></p-toast>
