<ng-container *ngIf="block">
    <h1 (click)="openDisplayNameDialog()">Block "{{ block.displayName }}"</h1>

    <button pButton pRipple type="button"
            [disabled]="!block.canUndo()"
            (click)="undo()"
            icon="pi pi-arrow-left"
            class="p-button-icon-only p-button-secondary p-button-text"></button>

    <button pButton pRipple type="button" [disabled]="true" [label]="(block.$$index + 1).toString() + '/' + block.$$history.length" class="p-button-text p-button-plain"></button>

    <button pButton pRipple type="button"
            [disabled]="!block.canRedo()"
            (click)="redo()"
            pTooltip="Redo"
            icon="pi pi-arrow-right"
            class="p-button-icon-only p-button-secondary p-button-text"></button>

    <div class="grid">
        <div class="col-12 md:col-12 xl:col-6 ">

            <div class="flex justify-content-between align-items-center mb-2">
                <span class="text-900 text-xl font-semibold" i18n>HTML Code</span>
            </div>
            <div class="card">

                <ngx-monaco-editor *ngIf="block?.code" [options]="editorOptions" [(ngModel)]="block.code" class="w-full"></ngx-monaco-editor>

            </div>
        </div>

        <div class="col-12 md:col-12 xl:col-6">

            <div class="flex justify-content-between align-items-center mb-2">
                <span class="text-900 text-xl font-semibold" i18n>Preview</span>
            </div>
            <div class="card">

                <div [innerHTML]="block.code"></div>

            </div>
        </div>


        <div class="col-12 md:col-12 xl:col-6">

            <div class="flex justify-content-between align-items-center mb-2">
                <span class="text-900 text-xl font-semibold" i18n>JSON Model</span>
            </div>
            <div class="card">

                <pre [innerHTML]="block | prettyjson:[true, 3, darkMode]"></pre>

                {{ darkMode }}

            </div>
        </div>

        <div class="col-12 md:col-12 xl:col-6">

            <div class="flex justify-content-between align-items-center mb-2">
                <span class="text-900 text-xl font-semibold" i18n>Parameters</span>
            </div>
            <div class="card">

                <p-panel *ngFor="let parameter of block.parametersList()"
                         [collapsed]="false"
                         [toggleable]="true"
                         styleClass="border-round"
                         class="border-round line-height-3 block m-0 mb-3">
                    <ng-template pTemplate="header">
                        <div class="flex justify-content-between align-items-center">
                            <span><b>{{ parameter.key }}</b> - {{ parameter.displayName }}</span>
                        </div>
                    </ng-template>
                    {{ parameter.description }}

                    <ng-template pTemplate="footer">
                        <div class="flex justify-content-end">
                            <button pButton (click)="removeParameter(parameter.key)" type="button" label="Remove" icon="pi pi-trash" class="p-button-danger mr-2">
                            </button>
                            <button pButton type="button" label="Save" icon="pi pi-save" class="p-button-success mr-2">
                            </button>
                        </div>
                    </ng-template>

                </p-panel>



            </div>
        </div>
    </div>

</ng-container>
