<p-toast></p-toast>
<p-dialog [header]="dialogConfig.header || ''" [(visible)]="dialogConfig.visible" [modal]="true" [dismissableMask]="true" styleClass="mx-3 sm:mx-0 sm:w-full md:w-8 lg:w-6" contentStyleClass="border-round-bottom border-top-1 surface-border p-0">
    <div class="p-4">
        <div class="grid p-fluid formgrid">
            <div class="col-12 field">
                <label for="feed-name" class="text-900 font-semibold">Feed Name</label>
                <input id="feed-name" type="text" placeholder="Sitemap, top articles, fun facts..." pInputText [(ngModel)]="feed.name" />
            </div>
            <div class="col-12 field">
                <label for="feed-description" class="text-900 font-semibold">Description (optional)</label>
                <textarea id="feed-description" [(ngModel)]="feed.description" rows="2" pInputTextarea style="resize: vertical;" placeholder="Small description comes handy as documentation"></textarea>
            </div>
            <div class="col-6 field">
                <label for="scraping-frequency" class="text-900 font-semibold">Scraping Frequency</label>
                <p-inputNumber id="scraping-frequency" [showButtons]="true" [min]="1" [(ngModel)]="feed.scrapingFrequency" />
            </div>
            <div class="col-6 field">
                <label for="scraping-granularity" class="text-900 font-semibold">Scraping Granularity</label>
                <p-dropdown id="scraping-granularity" [autoDisplayFirst]="true" [options]="availableGranularity" [(ngModel)]="feed.scrapingGranularity" placeholder="Time Unit"
                            [showClear]="false"></p-dropdown>
            </div>
            <div class="col-12 field">
                <label for="urls" class="text-900 font-semibold">URLs</label>
                <p-chips inputId="urls" [(ngModel)]="feed.urls" [allowDuplicate]="false"></p-chips>
                <p class="p-text-secondary">We encourage copy/paste for avoiding mistakes, press Enter to validate URL</p>
            </div>
            <div class="col-12 flex justify-content-end mt-4">
                <button pButton pRipple class="p-button-outlined w-8rem mr-3" icon="pi pi-times" label="Cancel" (click)="cancelFeed()"></button>

                <button *ngIf="creation; else onlySave" (click)="testAndSave()" [disabled]="!canSave()" pButton pRipple class="p-button-primary w-12rem" icon="pi pi-check" label="Test and Save" ></button>

                <ng-template #onlySave>
                    <button (click)="save()" [disabled]="!canSave()" pButton pRipple class="p-button-primary w-8rem" icon="pi pi-check" label="Save"></button>
                </ng-template>
            </div>
        </div>
    </div>
</p-dialog>
