<div class="card">
    <span class="text-900 text-xl font-bold mb-4 block">
        <ng-container *ngIf="isInvitingNewUser; else modifyingUser" i18n>
            Invitation to join {{ organizationName$ | async }}
        </ng-container>
        <ng-template #modifyingUser>
            <span i18n>Edit User</span>
        </ng-template>
    </span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <div class="text-900 font-medium text-xl mb-3" i18n>Profile</div>
            <p class="m-0 p-0 text-600 line-height-3 mr-3" *ngIf="isInvitingNewUser" i18n>
                Fields marked with an asterisk (*) are required
            </p>
        </div>
        <div class="col-12 lg:col-10">
            <form class="grid formgrid p-fluid" [formGroup]="userForm">

                <div class="field col-12 md:col-6">
                    <label for="firstname" class="font-medium text-900" i18n>First Name *</label>
                    <input formControlName="firstName" id="firstname" type="text" pInputText>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="lastname" class="font-medium text-900" i18n>Last Name *</label>
                    <input formControlName="lastName" id="lastname" type="text" pInputText>
                </div>

                <div class="field mb-4 col-12">
                    <label for="email" class="font-medium text-900" i18n>Email *</label>
                    <input formControlName="email" id="email" type="email" pInputText>
                    <small *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.invalid" class="p-error" i18n>
                        Must be a valid email such as example&#x40;mail.com
                    </small>
                </div>

                <div *ngIf="!isInvitingNewUser" class="field col-2">
                    <img [src]="nextAvatarPreview || userBeingModified?.avatarUrl" i18n-alt alt="" class="w-full"/>
                </div>

                <div *ngIf="!isInvitingNewUser" class="field mb-4 col-8">
                    <label for="avatar" class="font-medium text-900" i18n>Avatar</label>
                    <div class="flex">
                        <p-fileUpload #fileUploadInput mode="basic" name="avatar" accept="image/*" [maxFileSize]="2621440"
                                      styleClass="p-button-outlined p-button-plain mr-3"
                                      (onSelect)="avatarSelection($event)"
                                      i18n-chooseLabel chooseLabel="Upload Another Image">
                        </p-fileUpload>

                        <button *ngIf="fileUploadInput.hasFiles()" (click)="cancelAvatarSelection(fileUploadInput)"
                                pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-danger"></button>
                    </div>
                </div>

                <div class="field mb-4 col-12 md:col-4">
                    <label for="street" class="font-medium text-900" i18n>Street</label>
                    <input formControlName="street" id="street" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="city" class="font-medium text-900" i18n>City</label>
                    <input formControlName="city" id="city" type="text" pInputText>
                </div>
                <div class="field mb-4 col-12 md:col-4">
                    <label for="zipCode" class="font-medium text-900" i18n>ZIP Code</label>
                    <input formControlName="zipCode" id="zipCode" type="text" pInputText>
                </div>
                <div class="field mb-3 col-12 md:col-4">
                    <label for="country" class="font-medium text-900" i18n>Country</label>
                    <p-dropdown inputId="country" formControlName="country" [options]="countries" optionValue="code" optionLabel="name"
                                [filter]="true" filterBy="name" [showClear]="true"
                                i18n-placeholder placeholder="Select a Country">
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="col-12">
                    <button *ngIf="isInvitingNewUser; else modifyUserButton"
                            (click)="onSubmit()" pButton pRipple i18n-label label="Invite User" icon="pi pi-user-plus" class="w-auto mt-3">
                    </button>
                    <ng-template #modifyUserButton>
                        <button (click)="onSubmit()" [disabled]="!canSaveProfile() && !canSaveAvatar()" [loading]="saving" pButton pRipple i18n-label label="Update User" icon="pi pi-user-edit" class="w-auto mt-3">
                        </button>
                    </ng-template>

                    <a [routerLink]="['/organization', currentOrgSlug, 'users', 'list']">
                        <button  pButton pRipple i18n-label label="Return to users list" class="p-button-text w-auto mt-3">
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast position="bottom-right"/>

<p-confirmDialog header="Confirmation" key="confirm-invitation" icon="pi pi-question-circle"
                 i18n-message message="Are you sure you want to invite user ?"
                 [style]="{width: '350px'}" defaultFocus="none" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
