<app-generic-data-table [columns]="columns"
                        [loading]="loading"
                        [itemRowTemplate]="itemRowTemplate"
                        [items]="runs" (itemSelect)="onRowSelect($event)">
    <ng-template #itemRowTemplate let-run>
        <td>
            {{ run.createdAt | date: 'dd/MM/YY - HH:mm' }}
        </td>
        <td>
            {{ run.feed.displayName }}
        </td>
        <td>
            {{ run.articles.length }}
        </td>
        <td>
            {{ run.newArticles.length }}
        </td>
        <td>
            {{ (run.scrapingDurationMs + run.articlesCreationMs) | duration }}
        </td>
        <td>
            <app-status-badge [value]="run"></app-status-badge>
        </td>
    </ng-template>
</app-generic-data-table>
